// @import "{}/node_modules/bulma/bulma.sass";




#menu-wrapper {
  position: fixed;
  top: 3.25rem;
  right: auto;
  bottom: 0;
  left: 0;
  width: 16rem;
  height: auto;
  background: #f8f8f8;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 2;

  &>.menu {
    padding-top: 1em;
    padding-bottom: 1em;

    &>.menu-list {
      padding-left: 1rem;
      padding-right: 1rem;

      li ul {
        margin-left: 1.3em;
        padding-left: 1.7em;
      }
    }

    .menu-label {
      border-top: 1px solid rgba(0, 0, 0, 0.07);
      padding-top: 1.5em;
      padding-left: 2.6em;
      padding-right: 1.25em;
      .fa, .fas {
        margin-right: 1.2em;
      }
    }
  }
}

#content-wrapper {
  padding-top: 3.25rem;
  margin-left: 16rem;
}

.menu-list>li>a {
  &>.fa, &>.fas {
    margin-right: .75em;
  }
}

#navbar-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar-brand {
  width: 17rem;
}
