// @import "{}/node_modules/bulma/bulma.sass";


body, #content-wrapper {
  min-height: 100vh;
}

body {
  cursor: default;
}

#splash-screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
}

.section .section {
  padding-left: 0;
  padding-right: 0;
}

.has-effect-translucent-background {
  background-color: #f4f6fb;
  background-attachment: fixed;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

#menu-wrapper {
  position: fixed;
  top: 3.25rem;
  right: auto;
  bottom: 0;
  left: 0;
  min-width: 16rem;
  width: 13vw;
  height: auto;
  // background: #f8f8f8;
  // background-color: #344258;
  // background-image: url('/img/menubar@2x.jpg');
  background-color: #4b5a75;
  background: linear-gradient(128deg, #384767, #4b5b75 48%, #5f798a);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 2;

  &>.menu {
    padding-top: 1em;
    padding-bottom: 1em;

    &>.menu-list {
      padding-left: 1rem;
      padding-right: 1rem;

      li ul {
        margin-left: 1.3em;
        padding-left: 1.7em;
      }
    }

    .menu-label {
      // border-top: 1px solid rgba(0, 0, 0, 0.07);
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      padding-top: 1.5em;
      padding-left: 2.6em;
      padding-right: 1.25em;
      .fa, .fas {
        margin-right: 1.2em;
      }
    }
  }

  .menu-list {
    a {
      color: #ffffff;
      &:hover {
        background-color: rgba(255, 255, 255, 0.09);
        color: #ffffff;
      }
    }
  }
  .menu-label {
    color: rgba(255, 255, 255, 0.5);
  }
}

#content-wrapper {
  padding-top: 3.25rem;
  margin-left: 16rem;
}

.menu-list {
  & .fa, & .fas {
    margin-right: .75em;
  }
}

#navbar-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar-brand {
  min-width: 17rem;
  width: 13vw;
}

.card-dashboard {
  margin-top: 1rem;
  box-shadow: none !important;
  border: none !important;

  .card-header {
    box-shadow: none !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
    display: block !important;

    &-title {
      padding: 0;
      // text-align: right;
      // display: grid;
    }
    // .card-icon-box {
    //   transform: translateY(-1rem);
    //   display: block;
    //   font-size: 4.25rem;
    //   width: 1em;
    //   height: 1em;
    //   box-shadow: 0 14px 26px -12px rgba(127, 0, 255, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(127, 0, 255, 0.2);
    //   margin-left: 0.75rem;
    //   margin-bottom: -1.5rem;
    //   border-radius: 3px;
    //
    //   &>i {
    //     font-size: 0.33em;
    //     line-height: 4.25rem;
    //     color: white;
    //   }
    // }
  }

  .card-content {
    // text-align: right;
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .card-footer {
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5.75rem;
  }
}

.chart-loading-screen {
  color: #777;
  padding: 6rem 0;
  text-align: center;

  border-radius: 4px;
  animation-name: loading-background;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.chart-wrapper {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;

  .panel-block & {
    margin-bottom: 0;
    margin-left: -1rem;
    margin-right: -1rem;
    width: calc(100% + 2rem);
  }
}

.do-open {
  display: block;
  &>strong {
    font-weight: 500;
  }
}

.section.is-small {
  padding-top: 0;
}

.contenteditable {
  border-radius: 4px;
  padding: 0.5em 1em;
  margin: -0.5em -1em;

  &:hover {
    background-color: #fcfcfc;
  }
  &:focus {
    background-color: rgba(255,255,255,0);
  }
}


.margin-bottom-medium {
  margin-bottom: 1.5rem !important;
}


@keyframes showDropdown {
    from {
        opacity: 0;
        transform: translateY(-10px) scale(.95, .95)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.dropdown.is-hoverable:hover .dropdown-menu, .dropdown.is-active .dropdown-menu {
  display: block;
  animation: showDropdown .2s cubic-bezier(.6, .2, .1, 1) both;
}

.dropdown-menu.is-wide {
  min-width: 20rem;

  .dropdown-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.dropdown-content {
  border: 0 solid #e2e6e8;
  border-radius: 3px;
  box-shadow: 0 20px 66px 0 rgba(34,48,73,0.35) !important;
}

.dropdown.is-hoverable:hover .dropdown-trigger .button {
  background-color: #f9f9f9;
}




.panel {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.panel-block, .panel-tabs {
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  padding: 1.25rem 2rem !important;
}

 .panel-heading {
   border-bottom: none !important;
   border-left: none !important;
   border-right: none !important;
   padding: 1rem 2rem !important;
}

.panel-block:first-child, .panel-heading:first-child, .panel-tabs:first-child {
  border-top: none !important;
}

.panel-heading {
  font-weight: 600 !important;
}

.panel-block p, form > p {
  margin-bottom: 1em;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

// .notification {
//   box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.16);
// }


// .mock-input {
//   background-color: #fff;
//   border-color: #dbdbdb;
//   color: #363636;
//   border-radius: 0;
//   border-width: 1px;
//   border-style: solid;
//   align-items: center;
//   display: inline-flex;
//   font-size: 1rem;
//   height: 2.25em;
//   justify-content: flex-start;
//   line-height: 1.5;
//   padding-bottom: calc(.375em - 1px);
//   padding-left: calc(.625em - 1px);
//   padding-right: calc(.625em - 1px);
//   padding-top: calc(.375em - 1px);
//   position: relative;
//   vertical-align: top;
// }


.menu-list>li>a>.fa-fw, .menu-label>.fa-fw {
  margin-right: 1rem;
}

#menu-wrapper .menu-list a.is-active:hover {
  background: rgba(50, 115, 220, 0.8);
}


.button.is-tiny {
  border-radius: 2px;
  font-size: .75rem;
  border: none;
  padding-bottom: 0;
  padding-top: 0;
  background: none;
  height: auto;
  &:hover, &:focus, &:active {
    background-color: rgba(0,0,0,0.08);
  }
}

.table.rows-aligned-middle {
  tbody td, tbody th {
    vertical-align: middle;
  }
}

.p-b-0 {
  padding-bottom: 0 !important;
}

.no-wrap {
  white-space: nowrap;
}

.notification.is-light.is-bold {
  background-image: linear-gradient(141deg, #dfd8d9 0, #f5f5f5 71%, #fff 100%);
}

.notification.is-warning.is-bold {
  background-image: linear-gradient(141deg, #ffaf24 0, #ffdd57 71%, #fffa70 100%);
}

.notification.is-success.is-bold {
  background-image: linear-gradient(141deg, #12af2f 0, #23d160 71%, #2ce28a 100%);
}

.notification.is-danger.is-bold {
  background-image: linear-gradient(141deg, #ff0561 0, #ff3860 71%, #ff5257 100%);
}

.notification.is-info.is-bold {
  background-image: linear-gradient(141deg, #04a6d7 0, #209cee 71%, #3287f5 100%);
}

.dropdown-content {
  @supports ((backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg)) or (-webkit-backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg))) {
    backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg);
    -webkit-backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg);
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
}

a.dropdown-item:hover:not(.is-active) {
  background-color: rgba(0, 0, 0, 0.05);
}

.aside-footer {
  padding: 2rem 1.5rem 0;
  color: rgba(255, 255, 255, 0.75);
}

.cell-is-highlighted {
  font-weight: bolder;
  border: 2px solid rgb(196, 196, 196) !important;
}

.details-container {
  position: fixed;
  right:0;
  left: 16rem;
  bottom:0;
  padding: 0.5em 0;

  background: rgba(255,255,255,0.95);
  @supports ((backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg)) or (-webkit-backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg))) {
    backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg);
    -webkit-backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg);
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
}

.tag.is-wide {
  min-width: 8em;
}

.dropdown-content.is-dark {
  box-shadow: 0 20px 66px 0 rgba(34,48,73,0.75) !important;
  background-color: #4e636e;

  @supports ((backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg)) or (-webkit-backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg))) {
    backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg);
    -webkit-backdrop-filter: blur(20px) saturate(100%) hue-rotate(-15deg);
    background-color: rgba(0, 0, 0, 0.0) !important;
  }

  .dropdown-item {
    color: #fff;
    text-align: left;
  }
}

.is-fullwidth {
  width: 100%;
}

.tag.is-translucent-light {
  background-color: rgba(0, 0, 0, 0.04);
}

@keyframes loading-background {
  0% {
    background-color: #f9f9fa;
  }
  50% {
    background-color: #fdfdfe;
  }
  100% {
    background-color: #f9f9fa;
  }
}

.loading-pulse {
  position: relative;

  &, & tr, & td, & th {
    border-color: transparent !important;
  }

  &::before {
      content:"";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      border-radius: 4px;
      animation-name: loading-background;
      animation-duration: 2s;
      animation-iteration-count: infinite;
  }


  &.is-large {
    height: 50vh;
  }
}

// @keyframes loading-color {
//   0% {
//     color: #f9f9fa;
//   }
//   50% {
//     color: #fdfdfe;
//   }
//   100% {
//     color: #f9f9fa;
//   }
// }
//
// .has-text-loading {
//   animation-name: loading-color;
//   animation-duration: 2s;
//   animation-iteration-count: infinite;
// }

.help {
  font-size: 1em !important;
  color: hsl(0, 0%, 48%); // text-grey
  margin-top: 0 !important;

  .control + &, .level + & {
    margin-top: 0.25em !important;
  }

  em {
    font-style: normal;
    font-weight: bolder;
  }
}

h1.title {
  font-weight: bolder;
}

.subtitle {
  color: hsl(0, 0%, 48%); // text-grey
}

table {
  td, th {
    &.has-regular-button {
      padding-top: 0.12em;
      padding-bottom: 0.12em;
    }
  }
}

.button.is-inline {
  border: none;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.panel-subblock:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  .section.is-primary {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.container.is-primary {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.notification.close-component {
  cursor: pointer;

  .delete {
    display: none;
  }
  &:hover .delete {
    display: inline-block;
    background-color: rgba(10, 10, 10, .3);
  }
}

.dropdown {
  text-align: left;
  font-weight: normal;
}

tbody.em-first > tr:first-child {
  font-weight: bolder;
}

.field.has-addons .control .checkbox {
  background-color: #fff;
  border-width: 1px;
  cursor: pointer;
  padding: calc(.375em - 1px) 0.75em;
  text-align: center;
  white-space: nowrap;
  border-color: #dbdbdb;
  box-shadow: none;
  align-items: center;
  border: 1px solid rgb(219, 219, 219);
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-right: 0.6em;
}

.field.has-addons .control:last-child .checkbox {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  // line-height: 1.5;
  max-height: 3em;
}

.is-semitransparent-hoverable {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
  &:hover, &:focus, &:active {
    opacity: 0.92;
  }
}

.is-brand {

  &-broadcasts {
    &-inverse {
      background-image: linear-gradient(141deg,#1258af 0,#239fd1 71%,#2cc3e2 100%);
      color: white !important;

      .title, .subtitle {
        color: #bcf3ff;
      }
    }
  }

  &-money {
    &-inverse {
      background-image: linear-gradient(141deg,#12af84 0,#23d172 71%,#96e22c 100%);
      color: white !important;

      .title, .subtitle {
        color: #bcffd8;
      }
    }
  }

  &-followers {
    &-inverse {
      background-image: linear-gradient(141deg,#9eaf12 0,#d1c523 71%,#e29f2c 100%);
      color: white !important;

      .title, .subtitle {
        color: #f4ffbc;
      }
    }
  }

}

.hero.hero-dashboardView .hero-body {
  @media screen and (min-width: 1024px) and (min-height: 800px) {
    padding-bottom: 9rem;
    padding-top: 9rem;
  }
}
