// @import "{}/node_modules/bulma/bulma.sass";


body, #content-wrapper {
  min-height: 100vh;
}

body {
  cursor: default;
}

.section .section {
  padding-left: 0;
  padding-right: 0;
}

.has-effect-translucent-background {
  background-color: #f4f6fb;
  background-image: url('/img/dashboard-background@2x.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#menu-wrapper {
  position: fixed;
  top: 3.25rem;
  right: auto;
  bottom: 0;
  left: 0;
  width: 16rem;
  height: auto;
  // background: #f8f8f8;
  background-color: #344258;
  background-image: url('/img/menubar@2x.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 2;

  &>.menu {
    padding-top: 1em;
    padding-bottom: 1em;

    &>.menu-list {
      padding-left: 1rem;
      padding-right: 1rem;

      li ul {
        margin-left: 1.3em;
        padding-left: 1.7em;
      }
    }

    .menu-label {
      // border-top: 1px solid rgba(0, 0, 0, 0.07);
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      padding-top: 1.5em;
      padding-left: 2.6em;
      padding-right: 1.25em;
      .fa, .fas {
        margin-right: 1.2em;
      }
    }
  }

  .menu-list {
    a {
      color: #ffffff;
      &:hover {
        background-color: rgba(255, 255, 255, 0.09);
        color: #ffffff;
      }
    }
  }
  .menu-label {
    color: rgba(255, 255, 255, 0.5);
  }
}

#content-wrapper {
  padding-top: 3.25rem;
  margin-left: 16rem;
}

.menu-list {
  & .fa, & .fas {
    margin-right: .75em;
  }
}

#navbar-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar-brand {
  width: 17rem;
}

.card-dashboard {
  margin-top: 1rem;

  .card-header {
    box-shadow: none;

    &-title {
      text-align: right;
      display: grid;
      padding-right: 1.5rem;
      padding-bottom: 0.25rem;
      padding-top: 1.25rem;
    }
    .card-icon-box {
      transform: translateY(-1rem);
      display: block;
      font-size: 4.25rem;
      width: 1em;
      height: 1em;
      box-shadow: 0 14px 26px -12px rgba(127, 0, 255, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(127, 0, 255, 0.2);
      margin-left: 0.75rem;
      margin-bottom: -1.5rem;
      border-radius: 3px;

      &>i {
        font-size: 0.33em;
        line-height: 4.25rem;
        color: white;
      }
    }
  }

  .card-content {
    text-align: right;
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .card-footer {
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5.75rem;
  }
}

.chart-loading-screen {
  color: #777;
  padding: 6rem 0;
  text-align: center;
}

.chart-wrapper {
  margin-bottom: 1.5rem;
}

.do-open {
  display: block;
}

.section.is-small {
  padding-top: 0;
}

.contenteditable {
  border-radius: 4px;
  padding: 0.5em 1em;
  margin: -0.5em -1em;

  &:hover {
    background-color: #fcfcfc;
  }
  &:focus {
    background-color: rgba(255,255,255,0);
  }
}



@keyframes showDropdown {
    from {
        opacity: 0;
        transform: translateY(-10px) scale(.95, .95)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.dropdown.is-hoverable:hover .dropdown-menu {
  display: block;
  animation: showDropdown .2s cubic-bezier(.6, .2, .1, 1) both;
}

.dropdown-menu.is-wide {
  min-width: 20rem;

  .dropdown-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.dropdown-content {
  border: 0 solid #e2e6e8;
  border-radius: 3px;
  box-shadow: 0 20px 66px 0 rgba(34,48,73,0.2) !important;
}

.dropdown.is-hoverable:hover .dropdown-trigger .button {
  background-color: #f9f9f9;
}




.panel {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.panel-block, .panel-tabs {
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  padding: 1.25rem 2rem !important;
}

 .panel-heading {
   border-bottom: none !important;
   border-left: none !important;
   border-right: none !important;
   padding: 1rem 2rem !important;
}

.panel-block:first-child, .panel-heading:first-child, .panel-tabs:first-child {
  border-top: none !important;
}

.panel-heading {
  font-weight: 600 !important;
}

.notification {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.24);
}



.menu-list>li>a>.fa-fw, .menu-label>.fa-fw {
  margin-right: 1rem;
}

#menu-wrapper .menu-list a.is-active:hover {
  background: rgba(50, 115, 220, 0.8);
}


.table .button.is-small {
  border-radius: 2px;
  font-size: .75rem;
  border: none;
  padding-bottom: 0;
  padding-top: 0;
  background: none;
  height: auto;
  &:hover, &:focus, &:active {
    background-color: rgba(0,0,0,0.08);
  }
}
