<template name="sessionInfoView">

  <h1 class="title">
    {{timeframe session}}{{#if session.isOneOnOne}},<br>One-on-One Session{{/if}}
  </h1>

  <hr>

  {{#if session.endTime}}
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Duration</p>
        <p class="title is-size-4">{{duration}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Tokens</p>
        <p class="title is-size-4 {{greenRed session.deltaTokens}}">{{plusMinus session.deltaTokens}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Followers <i class="fas fa-fw fa-info-circle has-text-grey-light"></i></p>
        {{#unless session.isHistorical}}
          <p class="title is-size-4 {{greenRed session.deltaFollowers}}">{{plusMinus session.deltaFollowers}}</p>
        {{else}}
          {{> Element_briefIsHistorical}}
        {{/unless}}
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Viewers <i class="fas fa-fw fa-info-circle has-text-grey-light" title="Median Value"></i></p>
        {{#unless session.isHistorical}}
          <p class="title is-size-4">{{formatNumber session.numViewers}}</p>
        {{else}}
          {{> Element_briefIsHistorical}}
        {{/unless}}
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Votes Up</p>
        {{#unless session.isHistorical}}
          <p class="title is-size-4 {{greenRed session.deltaVotesUp}}">{{session.deltaVotesUp}} <i class="fas fa-fw fa-thumbs-up fa-xs has-text-grey-light"></i></p>
        {{else}}
          {{> Element_briefIsHistorical}}
        {{/unless}}
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Votes Down</p>
        {{#unless session.isHistorical}}
          <p class="title is-size-4 {{greenRed session.deltaVotesDown 'isNegative'}}">{{session.deltaVotesDown}} <i class="fas fa-fw fa-thumbs-down fa-xs has-text-grey-light"></i></p>
        {{else}}
          {{> Element_briefIsHistorical}}
        {{/unless}}
      </div>
    </div>
  </nav>

  <hr>

  {{/if}}

  <div class="section is-small">
      <form name="noteForm">
        <div class="field">
          <h5 class="title is-size-4">Notes</h5>
          <div class="control">
            <p contenteditable="true" class="contenteditable {{isPlaceholderClass}}">{{{noteOrPlaceholder}}}</p>
          </div>
        </div>
      </form>
  </div>

  <div class="section is-small">
    <form name="extraIncomeForm">
      <h5 class="title is-size-4">Extra Income</h5>

      {{#if dynamicSession.extraIncome}}
        <table class="table is-bordered is-narrow rows-aligned-middle">
          {{#each dynamicSession.extraIncome}}
            <tr>
              <td style="min-width: 15.6em;border-right-width:0;" class="has-text-right">
                <span class="has-text-semibold">{{formatNumber value}}</span>
                <span class="has-text-grey">{{currency}}</span>
              </td>
              <td style="border-left-width:0;" class="has-text-center">
                {{#if isHourlyRated}}<span class="tag">hourly-rated</span>{{/if}}
              </td>
              <td>
                <button class="button is-small is-danger is-inverted delete-extraIncome">Delete</button>
              </td>
            </tr>
          {{/each}}
        </table>

        <label class="label">Add more</label>
      {{/if}}

      <p class="help">Input extra income during the session from sources like gift cards. You can change currency in <a href="/settings">Settings</a>.</p>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="field has-addons">
              <div class="control">
                <input class="input has-text-right" type="number" placeholder="{{#if processingNewExtraIncomeWaitLonger}}Please, wait...{{else}}0{{/if}}" id="extraIncomeValueAdd" {{extraIncomeValueAddDisabled}}>
              </div>
              <div class="control">
                <div class="button is-static">{{userCurrencyLabel}}</div>
              </div>
              <div class="control">
                <label class="checkbox" for="extraIncomeIsHourlyRated">
                  <input type="checkbox" id="extraIncomeIsHourlyRated" checked="{{#if session.isOneOnOne}}false{{/if}}">
                    Hourly-rated
                </label>
              </div>
            </div>
          </div>
          <div class="level-item">
            <div class="dropdown is-right {{calculatorDropdownIsActive}}">
              <div class="dropdown-trigger">
                <div class="button {{calculatorDropdownIsActive}}" aria-haspopup="true" aria-controls="dropdown-menu-calculator">
                  <i class="fas fa-calculator"></i>
                </div>
              </div>
              <div class="dropdown-menu is-wide" role="menu" id="dropdown-menu-calculator">
                <div class="dropdown-content">
                  <div class="dropdown-item"><p class="menu-label">Quick currency converter</p></div>
                  <hr class="dropdown-divider">
                  <div class="dropdown-item">
                    <div class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <div class="field has-addons" style="width: 19.4em;">
                            <div class="control">
                              <div class="select {{#unless userCurrencies}}is-loading{{/unless}}">
                                <select id="calculator-select-currency" {{disabledAttr}}>
                                  <option>[Select]</option>
                                  {{#each currencyKeys}}
                                    <option value="{{this}}">{{this}}</option>
                                  {{/each}}
                                </select>
                              </div>
                            </div>
                            <div class="control">
                              <input class="input has-text-right" type="number" placeholder="0" id="calculator-number">
                            </div>
                          </div>
                        </div><!--eof .level-item -->
                      </div>
                    </div><!-- eof .level -->
                  </div><!-- eof .dropdown-item -->
                </div>
              </div>
            </div>
          </div>
          <div class="level-item">
            <div class="field">
              <span class="control">
                {{#unless processingNewExtraIncome}}
                  <button type="submit" class="button is-primary">Add</button>
                {{else}}
                  <button disabled class="button is-primary is-loading">Add</button>
                {{/unless}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  {{#if Template.subscriptionsReady}}

    {{#unless session.isHistorical}}

      {{#unless session.isOneOnOne}}
        <div class="section is-small">
          <h5 class="title is-size-4">Combined Chart</h5>
          {{#with combinedChartConfig}}
            {{> dateChartView session=session chartConfig=chartConfig}}
          {{/with}}
        </div>
      {{/unless}}


      <div class="section is-small">
        <h5 class="title is-size-4">Tokens</h5>
        {{#if session.deltaTokens}}
          {{#with tokensChartConfig}}
            {{> dateChartView session=session chartConfig=chartConfig}}
          {{/with}}
        {{else}}
          <div class="notification is-warning is-bold">
            No tokens were earned.
          </div>
        {{/if}}
      </div>

      <div class="section is-small">
        <h5 class="title is-size-4">Followers</h5>
        {{#unless session.isOneOnOne}}
            {{#with followersChartConfig}}
              {{> dateChartView session=session chartConfig=chartConfig}}
            {{/with}}
          {{#unless session.deltaFollowers}}
            <div class="notification is-warning is-bold">
              The net change of number of followers is zero.
            </div>
          {{/unless}}
        {{else}}
          <div class="notification is-bold is-light">
            This was a one-on-one session. The increase or decrease of the number of followers has no relation to the session itself.
          </div>
        {{/unless}}
      </div>

      <div class="section is-small">
        <h5 class="title is-size-4">Viewers</h5>
        {{#unless session.isOneOnOne}}
          {{#with viewersChartConfig}}
            {{> dateChartView session=session chartConfig=chartConfig}}
          {{/with}}
        {{else}}
        <div class="notification is-bold is-light">
          This was a one-on-one session. Only one viewer.
        </div>
        {{/unless}}
      </div>

    {{else}}

      <div class="section is-small">
        <h5 class="title is-size-4">Historical Record</h5>
        <div class="notification is-bold is-light">
          This is a historical record. Nothing to visualize here.
        </div>
      </div>

      <hr>
      <div class="section is-small">
        <a class="button delete-session has-text-danger">Delete</a>
      </div>

    {{/unless}}

  {{else}}
    <div class="loading-pulse is-large">Loading...</div>
  {{/if}}

</template>
