<template name="sessionInfoView">

  <h4 class="title is-size-3">{{timeframe session}}{{#if session.isOneOnOne}},<br>One-on-One Session{{/if}}</h4>

  <hr>

  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Duration</p>
        <p class="title is-size-4">{{duration}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Tokens</p>
        <p class="title is-size-4 {{greenRed session.deltaTokens}}">{{plusMinus session.deltaTokens}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Followers <i class="fas fa-fw fa-info-circle has-text-grey-light"></i></p>
        {{#unless session.isHistorical}}
          <p class="title is-size-4 {{greenRed session.deltaFollowers}}">{{plusMinus session.deltaFollowers}}</p>
        {{else}}
          {{> Element_briefIsHistorical}}
        {{/unless}}
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Viewers <i class="fas fa-fw fa-info-circle has-text-grey-light" title="Median Value"></i></p>
        {{#unless session.isHistorical}}
          <p class="title is-size-4">{{formatNumber session.numViewers}}</p>
        {{else}}
          {{> Element_briefIsHistorical}}
        {{/unless}}
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Votes Up</p>
        {{#unless session.isHistorical}}
          <p class="title is-size-4 {{greenRed session.deltaVotesUp}}">{{session.deltaVotesUp}} <i class="fas fa-fw fa-thumbs-up fa-xs has-text-grey-light"></i></p>
        {{else}}
          {{> Element_briefIsHistorical}}
        {{/unless}}
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Votes Down</p>
        {{#unless session.isHistorical}}
          <p class="title is-size-4 {{greenRed session.deltaVotesDown 'isNegative'}}">{{session.deltaVotesDown}} <i class="fas fa-fw fa-thumbs-down fa-xs has-text-grey-light"></i></p>
        {{else}}
          {{> Element_briefIsHistorical}}
        {{/unless}}
      </div>
    </div>
  </nav>

  <hr>

  <div class="section is-small">
      <form name="noteForm">
        <div class="field">
          <h5 class="title is-size-4">Notes</h5>
          <div class="control">
            <p contenteditable="true" class="contenteditable {{isPlaceholderClass}}">{{noteOrPlaceholder}}</p>
          </div>
        </div>
      </form>
  </div>

  <!-- <div class="section is-small">
    <form name="extraIncomeForm">
      <div class="field">
        <label class="label">Additional Income</label>
        <div class="field has-addons">
          <p class="control">
            <span class="select">
              <select>
                <option>USD</option>
                <option>RUB</option>
              </select>
            </span>
          </p>
          <p class="control">
            <input class="input" type="text" placeholder="0" name="extraIncomeValueAdd">
          </p>
          <p class="control">
            <a class="button is-primary">
              Add
            </a>
          </p>
        </div>
        <p class="help">Input extra income during the session from sources like gift cards. You can change currency in <a href="/settings">Settings</a>.</p>
      </div>
    </form>
  </div> -->

  {{#unless session.isHistorical}}

    {{#unless session.isOneOnOne}}
      <div class="section is-small">
        <h5 class="title is-size-4">Combined Chart</h5>
        {{#with combinedChartConfig}}
          {{> dateChartView session=session chartConfig=chartConfig}}
        {{/with}}
      </div>
    {{/unless}}


    <div class="section is-small">
      <h5 class="title is-size-4">Tokens</h5>
      {{#if session.deltaTokens}}
        {{#with tokensChartConfig}}
          {{> dateChartView session=session chartConfig=chartConfig}}
        {{/with}}
      {{else}}
        <div class="notification is-warning">
          No tokens were earned.
        </div>
      {{/if}}
    </div>

    <div class="section is-small">
      <h5 class="title is-size-4">Followers</h5>
      {{#unless session.isOneOnOne}}
          {{#with followersChartConfig}}
            {{> dateChartView session=session chartConfig=chartConfig}}
          {{/with}}
        {{#unless session.deltaFollowers}}
          <div class="notification is-warning">
            The net change of number of followers is zero.
          </div>
        {{/unless}}
      {{else}}
        <div class="notification">
          This was a one-on-one session. The increase or decrease of the number of followers has no relation to the session itself.
        </div>
      {{/unless}}
    </div>

    <div class="section is-small">
      <h5 class="title is-size-4">Viewers</h5>
      {{#unless session.isOneOnOne}}
        {{#with viewersChartConfig}}
          {{> dateChartView session=session chartConfig=chartConfig}}
        {{/with}}
      {{else}}
      <div class="notification">
        This was a one-on-one session. Only one viewer.
      </div>
      {{/unless}}
    </div>

  {{else}}

    <div class="section is-small">
      <h5 class="title is-size-4">Historical Record</h5>
      <div class="notification">
        This is a historical record. Nothing to visualize here.
      </div>
    </div>

  {{/unless}}


</template>
