<template name="navbarQuickStats">
  {{#if Template.subscriptionsReady}}
    {{__triggerGetTokensPerHour}}

    <div class="navbar-item">
      <div class="tags has-addons">
        {{#if isBroadcasting}}
          <span class="tag is-success has-text-white"><i class="fas fa-fw fa-video"></i></span>
          <span class="tag is-success has-text-white">Live</span>
          <span class="tag has-text-weight-semibold is-wide">{{timeOnline}}</span>
        {{else}}
        <span class="tag has-background-grey-dark has-text-white"><i class="fas fa-fw fa-video-slash"></i></span>
        <span class="tag has-text-weight-semibold is-wide {{timeOfflineClass}}">{{timeOffline}}</span>
        {{/if}}
      </div>
    </div>

    <div class="navbar-item">
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <a class="tags has-addons" aria-haspopup="true" aria-controls="dropdown-menu-tokens">
            <span class="tag has-text-weight-semibold has-background-grey-dark has-text-white">
              {{abbrCurrentTokensPerHourOption}}
              <span class="icon">
                <i class="fas fa-fw fa-donate"></i>
              </span>
            </span>
            <span class="tag has-text-weight-semibold is-wide">{{formatNumber tokensPerHour.avg}} {{tokensPerHour.currency}}/h</span>
          </a>
        </div>
        <div class="dropdown-menu" role="menu" id="dropdown-menu-tokens">
          <div class="dropdown-content">
            <div class="dropdown-item"><p class="menu-label">Income per hour</p></div>
            <hr class="dropdown-divider">
            {{#each tokensPerHourOptions}}
              <a class="dropdown-item {{#if equals currentTokensPerHourOption value}}is-active{{/if}}" href="#" data-select-tokensPerHour="{{value}}">{{label}} <span class="{{#if equals currentTokensPerHourOption value}}has-text-white{{else}}has-text-grey{{/if}}">({{abbr}})</span></a>
            {{/each}}
            <hr class="dropdown-divider">
            <div class="dropdown-item" id="tokensPerHour-toggle-extraIncome">
              {{#if tokensPerHourIncludeExtraIncome}}
                <div>
                  <i class="fas fa-fw fa-toggle-on has-text-primary"></i>
                  Extra income
                </div>
              {{else}}
                <div>
                  <i class="fas fa-fw fa-toggle-off"></i>
                  Extra income
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-item">
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <a class="tags has-addons" aria-haspopup="true" aria-controls="dropdown-menu-tokens">
            <span class="tag has-text-weight-semibold has-background-grey-dark has-text-white">
              CUR
              <i class="fas fa-fw fa-dollar-sign"></i>
            </span>
            <span class="tag has-text-weight-semibold is-wide">{{formatNumber lastDataPoint.rawTokens}} TKN</span>
          </a>
        </div>
        <div class="dropdown-menu" role="menu" id="dropdown-menu-tokens">
          <div class="dropdown-content">
            <div class="dropdown-item"><p class="menu-label">Income</p></div>
            <hr class="dropdown-divider">
            <a class="dropdown-item is-active" href="#">Current value <span class="has-text-white">(CUR)</span></a>
            <a class="dropdown-item" href="#">This month <span class="has-text-grey">(TM)</span></a>
            <a class="dropdown-item" href="#">Last month <span class="has-text-grey">(LM)</span></a>
            <a class="dropdown-item" href="#">Last 30 days <span class="has-text-grey">(30D)</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-item">
      <div class="tags has-addons">
        <span class="tag has-background-grey-dark has-text-white"><i class="fas fa-fw fa-heart"></i></span>
        <span class="tag has-text-weight-semibold is-wide">{{formatNumber lastDataPoint.rawFollowers}}</span>
      </div>
    </div>

    {{else}}
    <div class="navbar-item has-text-grey-light is-size-6">The missing analytics for Chaturbate</div>
  {{/if}}
</template>
