<template name="logView">
  <h2>Log</h2>
  <form class="add">
    <input type="text" name="raw" placeholder="JSON">
    <button type="submit">Add</button>
  </form>
  <hr>
  <form class="get">
    <input type="text" name="url" placeholder="URL">
    <button type="submit">Get</button>
  </form>
  <hr>
  <table>
    <thead>
    <tr><td></td>
      <td>UserId</td>
      <td>SessionId</td>
      <td>From</td>
      <td>To</td>
      <td>Tokens Earned</td>
      <td>Followers Earned</td>
    </tr>
    </thead>
    {{#each dataPoints}}
      <tr><td><input type="button" value="Delete" class="delete"></td><td>{{userId}}</td><td>{{sessionId}}</td><td>{{startTime}}</td><td>{{endTime}}</td><td>{{deltaTokens}} TKN</td><td>{{deltaFollowers}} FLW</td></tr>
    {{/each}}
  </table>
</template>
