<template name="Layout_body">

  <div id="navbar-wrapper" class="has-text-white">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container is-fluid">
        <div class="navbar-brand">
          <div class="navbar-item has-text-weight-bold">
            Chaturlytics<span style="font-size: 0.75em; font-weight: 400; color: rgb(231, 128, 5); margin-top: -.5em; margin-left: 0.3em">Alpha</span>
          </div>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
            {{#if Template.subscriptionsReady}}

            <div class="navbar-item">
              <div class="tags has-addons">
                {{#if isBroadcasting}}
                  <span class="tag is-success has-text-white"><i class="fas fa-fw fa-video"></i></span>
                  <span class="tag is-success has-text-white">Live</span>
                  <span class="tag">{{timeOnline}}</span>
                {{else}}
                <span class="tag is-dark has-text-white"><i class="fas fa-fw fa-video-slash"></i></span>
                <span class="tag">{{timeOffline}}</span>
                {{/if}}
              </div>
            </div>

            <div class="navbar-item">
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <a class="tags has-addons" aria-haspopup="true" aria-controls="dropdown-menu-tokens">
                    <span class="tag is-italic has-text-weight-semibold has-background-grey-lighter">
                      D
                      <i class="fas fa-fw fa-donate"></i>
                    </span>
                    <span class="tag">{{formatNumber tokensPerHour}} TKN/h</span>
                  </a>
                </div>
                <div class="dropdown-menu" role="menu" id="dropdown-menu-tokens">
                  <div class="dropdown-content">
                    <div class="dropdown-item"><p class="menu-label">Income per hour</p></div>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item is-active" href="#">Last 30 days <span class="has-text-white">(D)</span></a>
                    <a class="dropdown-item" href="#">Last 3 months <span class="has-text-grey">(3M)</span></a>
                    <a class="dropdown-item" href="#">Last 6 months <span class="has-text-grey">(6M)</span></a>
                    <a class="dropdown-item" href="#">Last year <span class="has-text-grey">(Y)</span></a>
                    <a class="dropdown-item" href="#">All time <span class="has-text-grey">(A)</span></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="navbar-item">
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <a class="tags has-addons" aria-haspopup="true" aria-controls="dropdown-menu-tokens">
                    <span class="tag is-italic has-text-weight-semibold has-background-grey-lighter">
                      C
                      <i class="fas fa-fw fa-dollar-sign"></i>
                    </span>
                    <span class="tag">{{formatNumber lastDataPoint.rawTokens}} TKN</span>
                  </a>
                </div>
                <div class="dropdown-menu" role="menu" id="dropdown-menu-tokens">
                  <div class="dropdown-content">
                    <div class="dropdown-item"><p class="menu-label">Income</p></div>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item is-active" href="#">Current value <span class="has-text-white">(C)</span></a>
                    <a class="dropdown-item" href="#">This period <span class="has-text-grey">(P)</span></a>
                    <a class="dropdown-item" href="#">Last 30 days <span class="has-text-grey">(M)</span></a>
                    <a class="dropdown-item" href="#">Last 3 months <span class="has-text-grey">(3M)</span></a>
                    <a class="dropdown-item" href="#">Last 6 months <span class="has-text-grey">(6M)</span></a>
                    <a class="dropdown-item" href="#">Last year <span class="has-text-grey">(Y)</span></a>
                    <a class="dropdown-item" href="#">All time <span class="has-text-grey">(A)</span></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="navbar-item">
              <div class="tags has-addons">
                <span class="tag has-background-grey-lighter"><i class="fas fa-fw fa-heart"></i></span>
                <span class="tag">{{formatNumber lastDataPoint.rawFollowers}}</span>
              </div>
            </div>

          {{else}}
            <div class="navbar-item has-text-grey-light is-size-7">Loading...</div>
          {{/if}}
          </div>
          <div class="navbar-end">

            <div class="navbar-item">
              <div class="dropdown is-right is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu-account">
                    <span class="icon is-small">
                      <i class="fas fa-user-circle"></i>
                    </span>
                    <span>
                      {{#if currentUser}}
                        {{currentUserProfile.username}}
                      {{else}}
                        Account
                      {{/if}}
                    </span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu is-wide" role="menu" id="dropdown-menu-account">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      {{>loginButtons align='right'}}
                    </div>

                    <hr class="dropdown-divider">
                    <div class="dropdown-item"><p class="menu-label">Development features</p></div>
                    <!-- <a class="force-sync dropdown-item" href="#">Force sync</a>-->
                    <a class="update-db dropdown-item" href="#">Update DB</a>
                    <a class="clear-next-sync-field dropdown-item" href="#">Clear Next Sync Timer</a>
                    <!-- <a class="update-exchange-rates dropdown-item" href="#">Update Exchange Rates</a>-->

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </nav>
  </div>

  <!-- <div class="container">-->

  <div id="menu-wrapper">

    <aside class="menu">
      <ul class="menu-list">
        <li><a class="{{isActiveAsCurrentRouteNamed 'home'}}" href="/"><i class="fas fa-fw fa-home"></i>Home</a></li>
      </ul>
      <p class="menu-label">
        <i class="fas fa-fw fa-glasses"></i>Data
      </p>
      <ul class="menu-list">
        <!-- <li><a href="/view/calendar/week"><i class="fas fa-fw fa-calendar"></i>Calendar</a>
          <ul>
            <li><a href="/view/calendar/month">Month View</a></li>
            <li><a href="/view/calendar/week">Week View</a></li>
            <li><a href="/view/calendar/day">Day View</a></li>
            <li><a>List View</a></li>
          </ul>
        </li>-->
        <li><a class="{{isActiveAsCurrentRouteNamed 'view.sessions'}}" href="/view/sessions"><i class="fas fa-fw fa-video"></i>Broadcasts List</a></li>
        <li><a class="{{isActiveAsCurrentRouteNamed 'view.metrics'}}" href="/view/metrics"><i class="fas fa-fw fa-chart-line"></i>Metrics</a>
          <!-- <ul>
            <li><a class="{{isActiveAsCurrentRouteNamed 'view.metrics.sessions'}}" href="/view/metrics/sessions"><i class="fas fa-fw fa-video"></i>Broadcasts</a></li>
            <li><a class="{{isActiveAsCurrentRouteNamed 'view.metrics.earnings'}}" href="/view/metrics/earnings"><i class="fas fa-fw fa-dollar-sign"></i>Earnings</a></li>
            <li><a class="{{isActiveAsCurrentRouteNamed 'view.metrics.followers'}}" href="/view/metrics/followers"><i class="fas fa-fw fa-heart"></i>Followers</a></li>
            <li><a class="{{isActiveAsCurrentRouteNamed 'view.metrics.viewers'}}" href="/view/metrics/viewers"><i class="fas fa-fw fa-eye"></i>Viewers</a></li>
          </ul>-->
        </li>
        <li><a class="{{isActiveAsCurrentRouteNamed 'view.logs'}}" href="/view/logs"><i class="fas fa-fw fa-stream"></i>Logs</a></li>
        <li><a class="{{isActiveAsCurrentRouteNamed 'historicalData'}}" href="/historicaldata"><i class="fas fa-fw fa-history"></i>Historical Data</a></li>
      </ul>
      <p class="menu-label">
        <i class="fas fa-fw fa-cog"></i>Administration
      </p>
      <ul class="menu-list">
        <li><a class="{{isActiveAsCurrentRouteNamed 'profiles'}}" href="/profiles"><i class="fas fa-fw fa-users"></i>Manage Profiles</a></li>
        <li><a><i class="fas fa-fw fa-money-check-alt"></i>Membership</a></li>
        <li><a class="{{isActiveAsCurrentRouteNamed 'settings'}}" href="/settings"><i class="fas fa-fw fa-cog"></i>Settings</a></li>
      </ul>
    </aside>

  </div>

  <div id="content-wrapper" class="{{#if translucentBackground}}has-effect-translucent-background{{/if}}">
    <section class="{{#unless sectionless}}section{{/unless}}">
      <div class="{{#unless sectionless}}container is-fluid{{/unless}}">
        {{>Template.dynamic template=content}}
      </div>
    </section>
  </div>

</template>
