<template name="Layout_body">

  <div id="navbar-wrapper" class="has-text-white">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container is-fluid">
        <div class="navbar-brand">
          <div class="navbar-item has-text-weight-bold">
            <!-- Chaturlytics<span style="font-size: 0.75em; font-weight: 400; color: rgb(231, 128, 5); margin-top: -.5em; margin-left: 0.3em">Alpha</span> -->
            <figure class="image" style="width:8.7rem">
              <img src="/img/chaturlytics-logo.svg" alt="Chaturlytics (Alpha)">
            </figure>
          </div>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">{{> navbarQuickStats}}</div>
          <div class="navbar-end">

            <div class="navbar-item">
              <div class="dropdown is-right is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu-account">
                    <span class="icon is-small">
                      <i class="fas fa-user-circle"></i>
                    </span>
                    <span>
                      {{#if currentUser}} Anthony {{else}} Account {{/if}}
                      <!-- {{#if currentUser}} {{currentUserProfile.username}} {{else}} Account {{/if}} -->
                    </span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu is-wide" role="menu" id="dropdown-menu-account">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      {{>loginButtons align='right'}}
                    </div>

                    <hr class="dropdown-divider">
                    <div class="dropdown-item">
                      <p class="menu-label">Development features</p>
                    </div>
                    <!-- <a class="force-sync dropdown-item" href="#">Force sync</a>-->
                    <a class="update-db dropdown-item" href="#">Update DB</a>
                    <a class="clear-next-sync-field dropdown-item" href="#">Clear Next Sync Timer</a>
                    <!-- <a class="update-exchange-rates dropdown-item" href="#">Update Exchange Rates</a>-->

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </nav>
  </div>

  <div id="menu-wrapper">

    <aside class="menu">
      <ul class="menu-list">
        <li>
          <a class="{{isActiveAsCurrentRouteNamed 'home'}}" href="/">
            <i class="fad fa-fw fa-home"></i>Home</a>
        </li>
      </ul>
      <p class="menu-label">
        <i class="fad fa-fw fa-glasses"></i>Data
      </p>
      <ul class="menu-list">
        <!-- <li><a href="/view/calendar/week"><i class="fad fa-fw fa-calendar"></i>Calendar</a>
          <ul>
            <li><a href="/view/calendar/month">Month View</a></li>
            <li><a href="/view/calendar/week">Week View</a></li> -->
            <!-- <li><a href="/view/calendar/day">Day View</a></li>
            <li><a>List View</a></li> -->
          <!-- </ul>
        </li> -->
        <li>
          <a class="{{isActiveAsCurrentRouteNamed 'view.sessions'}}" href="/view/sessions">
            <i class="fad fa-fw fa-video"></i>Broadcasts List</a>
        </li>
        <li>
          <a class="{{isActiveAsCurrentRouteNamed 'view.metrics'}}" href="/view/metrics">
            <i class="fad fa-fw fa-chart-line"></i>Metrics</a>
          <!-- <ul>
            <li><a class="{{isActiveAsCurrentRouteNamed 'view.metrics.sessions'}}" href="/view/metrics/sessions"><i class="fad fa-fw fa-video"></i>Broadcasts</a></li>
            <li><a class="{{isActiveAsCurrentRouteNamed 'view.metrics.earnings'}}" href="/view/metrics/earnings"><i class="fad fa-fw fa-dollar-sign"></i>Earnings</a></li>
            <li><a class="{{isActiveAsCurrentRouteNamed 'view.metrics.followers'}}" href="/view/metrics/followers"><i class="fad fa-fw fa-heart"></i>Followers</a></li>
            <li><a class="{{isActiveAsCurrentRouteNamed 'view.metrics.viewers'}}" href="/view/metrics/viewers"><i class="fad fa-fw fa-eye"></i>Viewers</a></li>
          </ul> -->
        </li>
        <!-- <li>
          <a class="{{isActiveAsCurrentRouteNamed 'view.payouts'}}" href="/view/payouts">
            <i class="fad fa-fw fa-dollar"></i>Payouts</a>
        </li> -->
        <li>
          <a class="{{isActiveAsCurrentRouteNamed 'view.logs'}}" href="/view/logs">
            <i class="fad fa-fw fa-stream"></i>Logs</a>
        </li>
        <li>
          <a class="{{isActiveAsCurrentRouteNamed 'historicalData'}}" href="/historicaldata">
            <i class="fad fa-fw fa-history"></i>Historical Data</a>
        </li>
      </ul>
      <p class="menu-label">
        <i class="fad fa-fw fa-cog"></i>Admin
      </p>
      <ul class="menu-list">
        <li>
          <a class="{{isActiveAsCurrentRouteNamed 'profiles'}}" href="/profiles">
            <i class="fad fa-fw fa-users"></i>Manage Profiles</a>
        </li>
        <!-- <li>
          <a>
            <i class="fad fa-fw fa-money-check-alt"></i>Membership</a>
        </li> -->
        <li>
          <a class="{{isActiveAsCurrentRouteNamed 'settings'}}" href="/settings">
            <i class="fad fa-fw fa-cog"></i>Settings</a>
        </li>
      </ul>
      <footer class="aside-footer is-size-7">
        <div class="columns has-text-centered" style="margin-bottom:1em;">
          <div class="column is-half p-b-0">
            <a href="/support" class="has-text-white">Support</a>
          </div>
          <div class="column is-half p-b-0">
            <div class="dropdown is-hoverable is-right is-up is-fullwidth">
              <div class="dropdown-trigger">
                <a class="has-text-white" aria-haspopup="true" aria-controls="dropdown-menu-stuff" style="width:100%;">
                  More
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </a>
              </div>
              <div class="dropdown-menu" role="menu" id="dropdown-menu-stuff">
                <div class="dropdown-content is-dark">
                  <a class="dropdown-item" href="#">Contact</a>
                  <a class="dropdown-item" href="#">Privacy Policy</a>
                  <a class="dropdown-item" href="#">Terms of Use</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div> 2018&nbsp;&copy;&nbsp;Chaturlytics. All&nbsp;rights&nbsp;reserved</div>
      </footer>
    </aside>

  </div>

  <div id="content-wrapper" class="{{#if translucentBackground}}has-effect-translucent-background{{/if}}{{#if overflowYHidden}}overflow-y-hidden{{/if}}">
    <section class="{{#unless sectionless}}section is-primary{{/unless}}">
      <div class="{{#unless sectionless}}container is-primary{{/unless}}">
        {{>Template.dynamic template=content}}
      </div>
    </section>
  </div>

  <!-- {{#if splashScreen}}
  <div class="hero is-fullheight is-light is-bold" id="splash-screen">
    <div class="hero-body">
      <figure class="image" style="margin-left:auto;margin-right:auto;">
        <img src="/img/chaturlytics-extended-logo.svg" alt="Chaturlytics">
      </figure>
    </div>
  </div>
  {{/if}} -->

</template>
