<template name="calendarView">

  <nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination" style="padding: .75rem 1.5rem;min-height:4.5rem">
    <a class="pagination-previous has-background-white" style="min-width: 8em"><i class="fas fa-fw fa-chevron-left"></i> Previous</a>
    <a class="pagination-next has-background-white" style="min-width: 8em;">Next <i class="fas fa-fw fa-chevron-right"></i></a>
    <div class="pagination-list">Now</div>
  </nav>

  <div id="calendar" style="height: calc(99.5vh - 3.25rem - 4.5rem);"></div>

</template>
